.colStyle{
    background: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding: 15px;
}

.subtitle{
    font-size: 20px;
    font-weight: 300;
}

h1, h2{
    margin-top: 20px;
}